$bigMediumBreakpoint: 973px;
$mediumSmallBreakpoint: 865px;
$smallMobileBreakpoint: 767px;

@media (min-width: $bigMediumBreakpoint){
    .auth-container{
        width: 400px;
    }
}

@media (max-width: $bigMediumBreakpoint) and (min-width: $mediumSmallBreakpoint){
    .auth-container{
        width: 300px;
    }
}


@media (max-width: $mediumSmallBreakpoint) and (min-width: $smallMobileBreakpoint){
    .auth-container{
        width: 200px;
    }
}

@media (max-width: $smallMobileBreakpoint){
    .container{
        width: calc(100% - 50px);

        .auth-container{
            padding: 40px 20px !important;
        }

        .auth-separator{display: none;}
        .auth-image{display: none;}
    }

}



.auth-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    // background: linear-gradient(244.33deg, rgba(113, 130, 239, 0.81) 0%, rgba(4, 10, 44, 0) 95.2%), #0B1030;
    background: linear-gradient(256.64deg, #4ccbab -9.9%, #3e75c8 119.49%), #0B1030;

    .container{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 30px 10px;
        border-radius: 5px;
        min-width: 268px;
        max-height: 85vh;

        .auth-container{
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 40px 40px;
        
            h1{
                text-align: center;
                margin-bottom: 50px;
                margin-top: 0;
            }
        
            .btn{
                margin-top: 20px;
                margin-bottom: 5px;
            }
    
            .voltar-btn{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 5px 0;
                padding-left: 30px;
                padding-bottom: 15px;
            }
        
            .auth-submit{
                font-size: 16px;
                position: relative;
                transform: translateX(-50%);
                left: 50%;
            }

            .txt-field{
                background: transparent;
                transition: .3s;
                
                position: relative;
                transform-origin: center;

                &:focus{
                    width: 100%;
                    left: -10px;
                }
            }

            .wrong-password{
                color: #e25151;
                font-size: 12px;
            }

            .secondary-btn{
                padding: 20px 40px !important;
            }
        }

        .auth-separator{
            height: 400px;
            margin: auto;
            width: 2px;
            background-color: #dddddd;
        }

        .auth-image{
            width: 400px;
            padding: 30px;
            position: relative;

            img{
                width: 400px;

                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

}

.alert-label{
    color: #b81515;
    font-size: 12px;
}

.txt-field{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #616161;
    width: calc(100% - 21px);
    font-size: 16px;
    margin: 10px 0;
}

.btn{
    width: auto;
    color: white;
    box-shadow: 0px 0px 10px #3e75c881;
    background: linear-gradient(256.64deg, #4ccbab -9.9%, #3e75c8 119.49%), #0B1030;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0;
    transition: .1s;
    font-size: 14px;
    font-weight: 700;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }

    &:disabled{
        opacity: .7;

        &:hover{
            cursor: default;
        }
    }
}

.secondary-btn{
    width: auto;
    color: #4ccbab;
    background: transparent;//linear-gradient(256.64deg, #7182EF -9.9%, rgba(11, 16, 48, 0) 119.49%), #0B1030;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0;
    transition: .1s;
    font-size: 14px;
    font-weight: 700;

    &:hover{
        opacity: .8;
        cursor: pointer;
        color: #0B1030;
    }

    &:disabled{
        opacity: .7;

        &:hover{
            cursor: default;
        }
    }
}

.button-label{
    background: transparent;
    border: 0;
    color: #1b6ebb;
    font-size: 13px;
    text-decoration: underline;
    transform: .2s;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;

    &:hover{
        cursor: pointer;
        font-weight: 700;
    }
}