$mobileBreakpoint: 796px;

@media (max-width: $mobileBreakpoint){
    .modal-bg{
        grid-template-columns: auto 90% auto;
        grid-template-rows: auto fit-content(calc(100% - 140px)) auto;

        #inputs-container{
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 20px;
            

            #r1{
                display: flex;
                flex-flow: column;
                grid-column: 1;

                .input-row{
                    display: flex;
                    flex-flow: row;
                    width: 100%;

                    .btn{
                        padding: 0px;
                        width: 40px;
                        height: 40px;
                        transform: translateX(0%);
                        position: relative;
                        left: 0;
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
        
                    .txt-field{
                        margin: 0;
                        height: 20px;
                        width: calc(100% - 80px);
                        position: relative;
                    }
                }

            }
            

            input[type="radio"]{
                margin: 0 10px;
            }

            #properties{
                grid-column: 1;
                grid-row: 2;

                #field-type-radio-group{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    
                    .radio-component{
                        padding: 5px 10px;
                        width: fit-content;
                    }
                }

                #table-disp{
                    width: 40%;
                }
            }

            #select-values{
                grid-column: 1;
                grid-row: 3;
                grid-template-columns: 100%;
                grid-template-rows: fit-content(100px) fit-content(100px) fit-content(100px);
            
                #select-values-container{
                    grid-column: 1;
                    grid-row: 1;
                    min-height: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    overflow-y: auto;
                }
            
                #select-values-inputs{
                    grid-column: 1;
                    grid-row: 2;
                }

                .txt-field, .btn{
                    margin: 5px 0;
                }
            }

            
        }

        #fields-list{

            li{
                grid-template-columns: 80% 20%;
                grid-template-rows: fit-content(50px) fit-content(50px) 11px;

                .field-name{
                    grid-column: 1 !important;
                    grid-row: 1 !important;
                }

                .field-desc{
                    grid-column: 1 !important;
                    grid-row: 2 !important;
                }

                .remove-btn{
                    grid-column: 2;
                    grid-row: 1;
                }

                .field-separator{
                    grid-column: 1/span 2;
                    grid-row: 3;
                }
            }

        }

        .two-btn-confirm-container{
            grid-template-columns: 100%;
            grid-template-rows: 35px 10px 35px;
    
            .btn{
                grid-column: 1;
                grid-row: 3;
            }
            .secondary-btn{
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
}

@media (min-width: $mobileBreakpoint){
    .modal-bg{
        grid-template-columns: auto fit-content(80%) auto;
        grid-template-rows: auto fit-content(calc(100% - 100px)) auto;

        #inputs-container{
            width: 100%;
            display: grid;
            grid-template-columns: calc(50% - 10px) 20px calc(50% - 10px);
            
            #r1{
                grid-column: 1;
                width: 100%;

                .input-row{
                    display: flex;
                    flex-flow: row;

                    .btn{
                        padding: 0px;
                        width: 40px;
                        height: 40px;
                        transform: translateX(0%);
                        position: relative;
                        left: 0;
                        margin-left: 10px;
                        margin-bottom: 0;
                    }
        
                    .txt-field{
                        margin: 0;
                        height: 20px;
                        width: calc(100% - 80px);
                        position: relative;
                    }
                }
            }
            

            input[type="radio"]{
                margin: 0 10px;
            }

            #properties{
                grid-column: 3;


                #field-type-radio-group{
                    display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    width: 100%;

                    .radio-component{
                        padding: 5px 10px;
                        width: fit-content;
                    }
                }

                #table-disp{
                    width: 40%;
                }
            }

            #select-values{
                grid-column: 1 / span 3;
                grid-template-columns: 70% 30%;
            
                #select-values-container{
                    grid-column: 1;
                    display: flex;
                    flex-wrap: wrap;
                    overflow-y: auto;
                }
            
                #select-values-inputs{
                    grid-column: 2;
                }

                .txt-field, .btn{
                    margin: 5px 0;
                }
            }
        }

        #fields-list{

            li{
                grid-template-columns: 100px auto 30px;
                grid-template-rows: fit-content(50px) 11px;

                label{
                    &:first-child{
                        grid-column: 1;
                    }

                    &:last-child{
                        grid-column: 2;
                    }
                }

                .remove-btn{
                    grid-column: 3;
                    grid-row: 1;
                }

                .field-separator{
                    grid-column: 1/span 3;
                    grid-row: 2;
                }
            }

        }

        .two-btn-confirm-container{
            grid-template-columns: calc(50% - 5px) 10px calc(50% - 10px);
    
            .btn{
                grid-column: 3;
            }
            .secondary-btn{
                grid-column: 1;
            }
        }
        
    }
}


.modal-bg{
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444444f5;
    z-index: 999;
}

.modal{
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
    height: auto;
    grid-row: 2;
    padding: 40px 30px 0px 30px;
    display: block;
    overflow-y: auto;

    .btn{
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        margin-bottom: 40px;
    }


    #add-fields-container{

        #fields-list{
            padding: 0;
            list-style: none;

            li{
                display: grid;

                .field-separator{
                    height: 1px;
                    width: 95%;
                    background-color: #e2e2e2;
                    margin: 5px auto;
                }

                label{
                    text-align: left;
                    word-wrap: break-word;
                }

                .remove-btn{
                    align-items: flex-end;
                    background: transparent;
                    border: 0;
                    color: #e43f3f;
                    font-size: 24px;
                    transition: .2s;
                    width: 30px;
                    height: 30px;
    
                    &:hover{
                        font-size: 26px;
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

#select-values{
    display: grid;

    #select-values-inputs{
        
        .txt-field{
            width: calc(100% - 20px);
            margin: 5px;
        }

        .btn{
            margin: 5px;
            width: 100%;
        }
    }
}

#deleteModalAlert{
    width: 100%;
    h1{
        font-weight: 1000;
        margin: 0;
    }

    h3{
        font-weight: 700;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    label{
        font-size: 14px;
        margin-top: 20px;

        b{
            color: #ca2525;
        }
    }
    .two-btn-confirm-container{
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        display: grid;

        .btn{
            margin: 0;
            width: 100%;
            padding: 0;
        }
        .secondary-btn{
            margin: 0;
            width:100%;
        }
    }

}

.error-message{
    font-size: 12px;
    color: #ca2525;
}