
nav{
    // border-bottom-right-radius: 40px;

    height: calc(100% - 30px);
    width: 100%;
    margin: 0;
    background: transparent;
    // box-shadow: 0px 0px 20px #00000040;


    #user-navbar{
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: 800;
    }

    #job-role-navbar{
        font-size: 14px;
        font-weight: 200;
    }

    ul{
        color: white;
        list-style: none;
        font-size: 14px;
        margin: 0;
        display: flex;
        
        li{
            text-align: left;
            padding: 5px 10px;
            padding-right: 0;
            margin: 3px 0;

            #manage-table-item{
                margin-top: 20px;
            }


            &:not(:first-child),
            &:not(:last-child){
                font-size: 14px;
                transition: .2s;

            }

            h3, h5{
                margin: 0;
            }

            h5{
                font-weight: 400;
            }


            #logout-icon{
                font-size: 20px;
            }

            #logout-label{
                font-size: 14px;
                vertical-align: top;
                margin-right: 5px;
            }

            label:hover{
                font-weight: 600;
                cursor: pointer;
            }

            &:hover{
                font-weight: 600;
                cursor: pointer;
            }
        }
        
    }

    #top-bar{
        grid-row: 1 !important;
        grid-column: 2 !important;
        width: calc(100vw - 30px);
        flex-flow: row-reverse;
        height: 100%;
        padding: 5px 10px;

        h1{
            grid-row: 1;
            grid-column: 1;
            margin: 5px 5px;
            color: #455d72;
            margin-right: auto;
            font-size: 24px;
        }

        li{
            font-size: 14px;
            transition: .2s;
            margin-bottom: 0;
            position: relative;
            height: 100%;
        
            &:hover{
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    #side-bar{
        grid-row: 2;
        grid-column: 1;

        width: 150px;
        flex-flow: column;
        padding: 10px;
        padding-left: 0;
        margin-top: 10px;
        height: calc(100% - 20px);

        .separator{
            background-color: #4ccbab;
            box-shadow: 0px 0px 10px #4ccbabb7;
            height: 1px;
            width: 70%;
            padding: 0;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        & > .checked-section{
            border-left: 5px solid #4ccbab;
            
            color: #4ccbab;
            text-shadow: #4ccbab81 0px 0 10px;
        }

        
    }
}
